[submodule "DirectXTex"]
	path = DirectXTex
	url = git@github.com:microsoft/DirectXTex.git
[submodule "unify"]
	path = unify
	url = git@github.com:kit10us/unify
[submodule "MercuryEngine"]
	path = MercuryEngine
	url = git@github.com:kit10us/MercuryEngine
[submodule "MercuryTests"]
	path = MercuryTests
	url = git@github.com:kit10us/MercuryTests
[submodule "qjson"]
	path = qjson
	url = git@github.com:kit10us/qjson.git
[submodule "qxml"]
	path = qxml
	url = git@github.com:kit10us/qxml.git
[submodule "resourcemanager"]
	path = resourcemanager
	url = git@github.com:kit10us/resourcemanager.git
[submodule "Adventure"]
	path = Adventure
	url = git@github.com:kit10us/Adventure.git
[submodule "MEWindowsOS"]
	path = MEWindowsOS
	url = git@github.com:kit10us/MEWindowsOS
[submodule "MENullExtension"]
	path = MENullExtension
	url = git@github.com:kit10us/MENullExtension.git
[submodule "MEPhy2D"]
	path = MEPhy2D
	url = git@github.com:kit10us/MEPhy2D.git
[submodule "MERendererDX11"]
	path = MERendererDX11
	url = git@github.com:kit10us/MERendererDX11.git
[submodule "MEShapes"]
	path = MEShapes
	url = git@github.com:kit10us/MEShapes.git
[submodule "MEASELoader"]
	path = MEASELoader
	url = git@github.com:kit10us/MEASELoader.git
[submodule "MEWinMain"]
	path = MEWinMain
	url = git@github.com:kit10us/MEWinMain.git
[submodule "MERendererDX9"]
	path = MERendererDX9
	url = git@github.com:kit10us/MERendererDX9.git
[submodule "MELua"]
	path = MELua
	url = git@github.com:kit10us/MELua.git
[submodule "MEPhysicsLuaExt"]
	path = MEPhysicsLuaExt
	url = git@github.com:kit10us/MEPhysicsLuaExt.git
[submodule "MEPhysics"]
	path = MEPhysics
	url = git@github.com:kit10us/MEPhysics.git
[submodule "MESceneAutoLoader"]
	path = MESceneAutoLoader
	url = git@github.com:kit10us/MESceneAutoLoader.git
[submodule "MEDaeLoader"]
	path = MEDaeLoader
	url = git@github.com:kit10us/MEDaeLoader.git
[submodule "MEEditor"]
	path = MEEditor
	url = git@github.com:kit10us/MEEditor.git
[submodule "MEWinApiBuilder"]
	path = MEWinApiBuilder
	url = git@github.com:kit10us/MEWinApiBuilder.git
[submodule "MEGamepad"]
	path = MEGamepad
	url = git@github.com:kit10us/MEGamepad.git
[submodule "MEMouse"]
	path = MEMouse
	url = git@github.com:kit10us/MEMouse.git
[submodule "MEKeyboard"]
	path = MEKeyboard
	url = git@github.com:kit10us/MEKeyboard.git
[submodule "MERendererOGL"]
	path = MERendererOGL
	url = git@github.com:kit10us/MERendererOGL.git
[submodule "packages"]
	path = packages
	url = git@github.com:kit10us/packages.git
[submodule "kitlogger"]
	path = kitlogger
	url = git@github.com:kit10us/kitlogger
[submodule "KitLuaDev"]
	path = KitLuaDev
	url = git@github.com:kit10us/KitLuaDev
	branch = master
[submodule "Portability"]
	path = Portability
	url = git@github.com:kit10us/Portability
